{% extends "app/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'gram/profile.css' %}">
<div class="cont pt-5"></div>
<div class="container-fluid mt-5 pt-5">
    <div class="container mb-5 pt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
        <div class="row pt-5">
        <div class="col-8">
            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="{{ image.author.profile.image.url  }}" alt=""></div>
                        <p class="username">{{image.author}}</p>
                    </div>
                    <!-- <img src="{{image.image.url}}" class="img-responsive" alt="..."  style="width:100%; height:100%;" > -->
                    <img src="{% static 'assets/option.PNG' %}" class="options" alt="">
                </div>
                
                <img src="{{image.image.url}}" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img src="{% static 'assets/like.PNG' %}" class="icon" alt="">
                        <img src="{% static 'assets/comment.PNG' %}" class="icon" alt="">
                        <img src="{% static 'assets/send.PNG' %}" class="icon" alt="">
                        <img src="{% static 'assets/save.PNG' %}" class="save icon" alt="">
                    </div>
                    <p class="likes">1,012 likes</p>
                    <p class="description"><span>{{image.author}} </span> {{image.caption}}</p>
                    <p class="post-time">{{image.uploadDate|timesince}}</p>
                </div>
               
        </div>
    </div>
    <!--COMMENTS-->
    <div class="col-4">
        <div class="comment-wrapper">
            <img src="{{ user.profile.image.url  }}" class="icon" alt="">
            <input type="text" class="comment-box" placeholder="Add a comment">
            <button class="comment-btn">post</button>
        </div>
</div>
</div>
</div>

{% endblock content%}