{% extends "app/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'gram/profile.css' %}">
<div class="container pt-5"></div>
<header>
<div class="container">

    <div class="profile">

        <div class="profile-image">

            <img src="{{ user.profile.image.url  }}" alt="">

        </div>

        <div class="profile-user-settings">

            <h5 class="profile-user-name" style="font-size:18px; font-weight:bold">{{user.username}}</h5>

            <button class="btn profile-edit-btn" href="{% url 'editProfile' %}">
                <a href="{% url 'editProfile' %}" style="text-decoration: none;color: black;">
                    Edit Profile
                </a>
            </button>

            <button class="btn profile-settings-btn" aria-label="profile settings" href="{% url 'editProfile' %}" style="text-decoration: none;"><i class="fas fa-cog" aria-hidden="true"></i></button>

        </div>

        <div class="profile-stats">
        </br>
        </br>
            <ul>
                <li><span class="profile-stat-count">{{images|length}}</span> posts</li>
                <li><span class="profile-stat-count">500</span> followers</li>
                <li><span class="profile-stat-count">14</span> following</li>
            </ul>
        </br>

        </div>

        <div class="profile-bio">

            <p><span class="profile-real-name">{{ user.profile.first_name }} {{ user.profile.last_name }}</br>
            </span> {{ user.profile.bio }}</br> <a href="{{user.profile.website}}">{{user.profile.website}}</a></br><small class="text-muted">{{user.profile.country}}</small></p>
            

        </div>

    </div>
    <!-- End of profile section -->

</div>
<!-- End of container -->

</header>

<main>

<div class="container">
<div class="row">
    <div class="col">
        <div class="gallery">
            {% for image in images %}
                <div class="gallery-item" tabindex="0">
                    <a href="{% url 'postDetail' image.id %}" style="color:white; text-decoration: none;">
                        <img src="{{image.image.url}}" class="gallery-image" alt="">
                    <div class="gallery-item-type">
                        <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>
                    </div>
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{ image.likes.all.count }}</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i>{{count}}</li>
                        </ul>
                    </div>
                </a>
                </div>
                {% endfor %}
            </div>
    </div>
</div>
    </div>
    <!-- End of gallery -->

    <!-- <div class="loader"></div> -->

<!-- End of container -->

</main>

{% endblock content %}